<!DOCTYPE html>
<html>

  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application.css' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

           <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

      <span class="my-0 mr-md-auto font-weight-normal" ><%= link_to "Cybernetika", home_path, :class => "p-2 text-dark" %></span>
        <nav class="my-2 my-md-0 mr-md-3">

       <span ><%= link_to "Курсы", allcourses_path,  :class => 'p-2 text-dark' %></span>
       <% if user_signed_in? %>
 <span >Здравствуйте, <%= link_to current_user.name, profile_index_path %></span>
<span> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => 'p-2 text-dark' %> </span>
<% else %>
   <%= link_to 'Войти ', new_user_session_path, :class => 'p-2 text-dark' %> или <%= link_to ' Зарегистрироваться', new_user_registration_path, :class => 'p-2 text-dark' %>
<% end %>
        </nav>

      </div>
      <div class="container">
          <%= yield %>
      </div>

  </body>
</html>
